@import "base/variables";
@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/titles";
@import "base/mixins";
* {
  font-family: 'Museo Sans Cyrl', sans-serif;
}
a {
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: underline;
  }
}
.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0;
}

@import "base/media";
